.customar-order-image-container {
  width: 55px;
  height: 61px;
  border-radius: 50%;
  padding: 9px;
  border: 1px solid aqua;
  background: aquamarine;
}
.customar-order-image-container img {
  width: 100%;
}
.painding-status {
  background-color: #ffe3e3;
  padding: 10px 15px;
  border-radius: 6px;
  color: red;
}
